.card {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 20px;
}

.card__root-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: #2f2f2f;
}

.card__img {
  display: block;
  width: 100%;
}

.card__container {
  display: flex;
  justify-content: space-between;
  padding: 14px 16px 12px;
}

.card__info-container {
  display: flex;
  flex-direction: column;
}

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  padding-bottom: 9px;
}

.card__save-btn {
  background: url('../../images/saved-btn.svg') no-repeat;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-size: contain;
}

.card__save-btn_saved {
  background: url('../../images/save-btn.svg') no-repeat;
}

.card__save-btn_remove {
  background: url('../../images/close-btn.svg') no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.card__duration {
  line-height: 13px;
  color: #8b8b8b;
  margin: 0;
}

.link:hover {
  transition: opacity 0.2s linear;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .card {
    width: 339px;
    margin: 0 auto;
    margin-bottom: 36px;
  }


  .card__container {
    padding: 16px 0;
  }

  .card__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 13px;
  }
}
